{{ 'aboutus-link-section.css' | asset_url | stylesheet_tag }}
{{ 'about-us-responsive.css' | asset_url | stylesheet_tag }}

<div class="about-links">
  <div class="links-inner">
    <div class="links-text">
      <p class="links-heading">{{ section.settings.links_heading }}</p>
      <hr>
      <p>{{ section.settings.links_text }}</p>
    </div>
    <div class="about-btns">
      <a href="{{ section.settings.link_btn_url }}" class="link-btn">{{ section.settings.link_btn_text }}</a>
      <a href="https://api.whatsapp.com/send?phone={{ section.settings.link_btn2_url }}&text=%20Hi,%20I%20want%20to%20know%20more" class="link-btn2" target="_blank"><i class="fa-brands fa-whatsapp fa-xl"></i> {{ section.settings.link_btn2_text }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Links Section",
  "settings": [
    {
      "type": "text",
      "id": "links_heading",
      "label": "Section Heading",
      "default": "Add The factor of Nutrition to your life"
    },
    {
      "type": "textarea",
      "id": "links_text",
      "label": "Section Text",
      "default": "Where Quality, Safety, and Efficacy Meet; Your Most Trusted Vitamin Brand."
    },
    {
      "type": "text",
      "id": "link_btn_text",
      "label": "Button 1 Text",
      "default": "SEE OUR PRODUCT RANGE"
    },
    {
      "type": "url",
      "id": "link_btn_url",
      "label": "Button 1 URL",
    },
    {
      "type": "text",
      "id": "link_btn2_text",
      "label": "Button 2 Text",
      "default": "HELP US CHOOSE"
    },
    {
      "type": "text",
      "id": "link_btn2_url",
      "label": "Whatsapp Phone No.",
    }
  ],
  "presets": [
    {
      "name": "About Links Section",
      "category": "About Us"
    }
  ]
}
{% endschema %}