{{ 'address-info.css' | asset_url | stylesheet_tag }}

<div class="columns-main">
  <div class="container">
    {% unless section.settings.main_heading == blank %}
      <p class="column-heading">{{ section.settings.main_heading }}</p>
      <hr>
    {% endunless %}

    <div class="column-banners">
      {% for block in section.blocks %}
        <div class="address-1" {{ block.shopify_attributes }}>
          {% if block.settings.heading != blank %}
            <p class="address-heading">{{ block.settings.heading }}</p>
          {% endif %}
          {% if block.settings.address != blank %}
            <p>{{ block.settings.address }}</p>
          {% endif %}
          {% if block.settings.phone != blank %}
            <p>{{ block.settings.phone }}</p>
          {% endif %}
          {% if block.settings.mobile != blank %}
            <p>{{ block.settings.mobile }}</p>
          {% endif %}
          {% if block.settings.email != blank %}
            <p>{{ block.settings.email }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Info Columns",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "CORPORATE OFFICE"
    }
  ],
  "blocks": [
    {
      "type": "contact",
      "name": "Contact Block",
      "limit": 9,
      "settings": [
        {"type":"text","id":"heading","label":"Heading"},
        {"type":"text","id":"address","label":"Address"},
        {"type":"text","id":"phone","label":"Phone"},
        {"type":"text","id":"mobile","label":"Mobile"},
        {"type":"text","id":"email","label":"Email"}
      ]
    }
  ],
  "presets":[
    {"name":"Contact Info Columns"}
  ]
}
{% endschema %}
