{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /*styles*/



.science-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.science-col {
  flex: 1;
  padding: 10px;
}

.science-col-left {
  max-width: 60%;
}

.science-col-right {
  max-width: 40%;
  text-align: left;
}

.science-image-box img {
  max-width: 100%;
  height: auto;
}

.science-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.science-description {
  font-size: 13px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.7;
}

/* .science-btn {
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  background-color: #111;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.science-btn:hover {
  background-color: #333;
} */

.science-certifications {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.science-certifications img {
  height: 170px;
  object-fit: contain;
}


@media (max-width: 768px) {
  .science-row {
    flex-direction: column;
    text-align: center;
  }

  .science-col-left,
  .science-col-right {
    max-width: 100%;
  }

  .science-col-right {
    text-align: center;
    margin-top: 30px;
  }

  .science-certifications {
    justify-content: center;
  }
}
  

  
{%- endstyle -%}

<div class="backed_by_science-section color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="section-{{ section.id }}-padding page-width isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >

    {% comment %}
    {% if section.settings.title != blank %}
      <div class="halo-block-header text-center">
        <h3 class="title">
          <span class="text">{{ section.settings.title }}</span>
        </h3>
      </div>
    {% endif %}
    {% endcomment %}

    
    

     <div class="science-row align-center">

      <div class="science-col science-col-left">
        <div class="science-image-box">
          <img src="https://cdn.shopify.com/s/files/1/0707/8104/2880/files/Backed_by_Science.png?v=1753688959" alt="Science Illustration" />
        </div>
      </div>

      <div class="science-col science-col-right">
        <div class="science-content-box">
          <h2 class="science-title">WE ARE BACKED BY SCIENCE</h2>
          <p class="science-description">
            Our carefully curated formulations are prepared in controlled
            environment under strict supervision of our healthcare experts.
          </p>
          <a href="#" class="science-btn">KNOW MORE</a>
        </div>

        <div class="science-certifications">
          <img src="https://cdn.shopify.com/s/files/1/0707/8104/2880/files/company_icons.webp?v=1753687813" alt="Company Certifications">
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Backed by Science",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "tag",
      "name": "Collection Tag",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        },
        {
          "type": "checkbox",
          "id": "important",
          "label": "Mark as Important",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Backed by Science",
      "blocks": [
        {
          "type": "tag"
        },
        {
          "type": "tag"
        },
        {
          "type": "tag"
        }
      ]
    }
  ]
}
{% endschema %}
