{{ 'blog-slider-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }  
{%- endstyle -%}

<div class="blog_slider-section color-{{ section.settings.color_scheme }}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="section-{{ section.id }}-padding page-width isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >

    <div class="slider-wrapper" style="display: flex;">
      <!-- Main Slider -->
      <div class="slider-main" style="width: 70%;">

<div class="blogBigCardBodyOuter">
	<div class="blogBigCard">
		<div class="blogBigCardHead">
			<a href="/blogs/wellness-blog/what-you-need-to-know-about-benign-prostrate-hyperplasia-bph" title="" tabindex="-1"><img src="//www.nutrifactor.com.pk/cdn/shop/articles/athlete_700x483_57fd37e4-3c67-4721-b28d-8dfb32dda122_960x600.png?v=1731500877" alt="What you need to know about Benign Prostrate Hyperplasia (BPH)" class="article__image"></a>
			<div class="blogSmallCardHeadOverlay">2 Min Read</div>
		</div>
		<div class="blogBigCardBody">
			<div class="blogBigCardBodyContent">
				<div class="blogBigCardGenre">
					<div class="blogBigCardGenreTxt">
						<div class="blogCategoryIcon"><img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid"></div>
						&nbsp;Health
					</div>
				</div>
				<div class="blogBigCardHeading">
					<h3 class="article-title m-0" title="What you need to know about Benign Prostrate Hyperplasia (BPH)">
						<a class="tempLinkBlog" href="/blogs/wellness-blog/what-you-need-to-know-about-benign-prostrate-hyperplasia-bph" tabindex="-1">
						What you need to know about Benign Prostrate Hyperplasia (BPH)
						</a>
					</h3>
				</div>
				<div class="blogBigCardTxt">
					Ageing is that phase of life when you start to fully appreciate the phrase "age is just a number."
				</div>
			</div>
			<div class="blogBigCardStats">
				<div class="blogBigCardPublishStats">
					<span class="BlogpublishDate">Nov 13, 2024</span>
				</div>
				<a href="/blogs/wellness-blog/what-you-need-to-know-about-benign-prostrate-hyperplasia-bph" class="blogBigCardBtn tempLink" tabindex="-1">Read More</a>
			</div>
		</div>
	</div>
</div>

<div class="blogBigCardBodyOuter">
	<div class="blogBigCard">
		<div class="blogBigCardHead">
			<a href="/blogs/wellness-blog/the-anaemia-around-you" title="" tabindex="-1"><img src="//www.nutrifactor.com.pk/cdn/shop/articles/girl_tensed_960x600.png?v=1749125377" alt="The Anaemia Around You" class="article__image"></a>
			<div class="blogSmallCardHeadOverlay">2 Min Read</div>
		</div>
		<div class="blogBigCardBody">
			<div class="blogBigCardBodyContent">
				<div class="blogBigCardGenre">
					<div class="blogBigCardGenreTxt">
						<div class="blogCategoryIcon"><img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid"></div>
						&nbsp;Health
					</div>
				</div>
				<div class="blogBigCardHeading">
					<h3 class="article-title m-0" title="The Anaemia Around You">
						<a class="tempLinkBlog" href="/blogs/wellness-blog/the-anaemia-around-you" tabindex="-1">
						The Anaemia Around You
						</a>
					</h3>
				</div>
				<div class="blogBigCardTxt">
					Iron deficiency often flies under the radar, silently affecting the lives of millions, especially women.
				</div>
			</div>
			<div class="blogBigCardStats">
				<div class="blogBigCardPublishStats">
					<span class="BlogpublishDate">Nov 16, 2024</span>
				</div>
				<a href="/blogs/wellness-blog/the-anaemia-around-you" class="blogBigCardBtn tempLink" tabindex="-1">Read More</a>
			</div>
		</div>
	</div>
</div>

<div class="blogBigCardBodyOuter">
	<div class="blogBigCard">
		<div class="blogBigCardHead">
			<a href="/blogs/wellness-blog/berry-your-way-out-of-urinary-tract-infections" title="" tabindex="-1"><img src="//www.nutrifactor.com.pk/cdn/shop/articles/cherries_960x600.png?v=1749125451" alt="Berry Your Way Out of Urinary Tract Infections" class="article__image"></a>
			<div class="blogSmallCardHeadOverlay">2 Min Read</div>
		</div>
		<div class="blogBigCardBody">
			<div class="blogBigCardBodyContent">
				<div class="blogBigCardGenre">
					<div class="blogBigCardGenreTxt">
						<div class="blogCategoryIcon"><img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid"></div>
						&nbsp;Health
					</div>
				</div>
				<div class="blogBigCardHeading">
					<h3 class="article-title m-0" title="Berry Your Way Out of Urinary Tract Infections">
						<a class="tempLinkBlog" href="/blogs/wellness-blog/berry-your-way-out-of-urinary-tract-infections" tabindex="-1">
						Berry Your Way Out of Urinary Tract Infections
						</a>
					</h3>
				</div>
				<div class="blogBigCardTxt">
					Cranberries are tart little bursts of delight, so small they can almost pop in your mouth! Their vibrant hue hints at the powerhouse of antioxidants within.
				</div>
			</div>
			<div class="blogBigCardStats">
				<div class="blogBigCardPublishStats">
					<span class="BlogpublishDate">Oct 24, 2024</span>
				</div>
				<a href="/blogs/wellness-blog/berry-your-way-out-of-urinary-tract-infections" class="blogBigCardBtn tempLink" tabindex="-1">Read More</a>
			</div>
		</div>
	</div>
</div>

      </div>

      <!-- Vertical Carousel -->
      <div class="slider-nav" style="width: 30%; margin-left: 10px;">

<div class="BlogSmallCard">
	<div class="blogSmallCardHead">
		<div class="blogSmallCardHeadOverlay">2 Min Read</div>
		<a href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric" title="" tabindex="-1"><img src="//www.nutrifactor.com.pk/cdn/shop/articles/HALDI_21_260x195.png?v=1731414853" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg"></a>
	</div>
	<div class="blogSmallCardBody">
		<div class="blogSmallCardStatsOuter">
			<div class="blogSmallCardBodyContent">
				<div class="blogSmallCardHeading">
					<h5 class="article-title m-0" title="Turn Your Health Around with the Power of Turmeric">
						<a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric" tabindex="-1">
						Turn Your Health Around with the Power of Turmeric
						</a>
					</h5>
				</div>
				<div class="blogSmallCardTxt">
					Turmeric, the centuries old yellow spice, has made a comeback in the health and wellness world and its rise to fame is nothing short of a motivational story!
				</div>
			</div>
			<div class="blogSmallCardStats">
				<div class="blogSmallCardGenreTxt">
					<div class="blogCategoryIcon"><img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid"></div>
					&nbsp; Health
				</div>
				<div class="blogSmallCardDate"> 
					<time datetime="2024-11-12T12:37:27Z">Nov 12, 2024</time>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlogSmallCard">
	<div class="blogSmallCardHead">
		<div class="blogSmallCardHeadOverlay">2 Min Read</div>
		<a href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric" title="" tabindex="-1"><img src="//www.nutrifactor.com.pk/cdn/shop/articles/HALDI_21_260x195.png?v=1731414853" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg"></a>
	</div>
	<div class="blogSmallCardBody">
		<div class="blogSmallCardStatsOuter">
			<div class="blogSmallCardBodyContent">
				<div class="blogSmallCardHeading">
					<h5 class="article-title m-0" title="Turn Your Health Around with the Power of Turmeric">
						<a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric" tabindex="-1">
						Turn Your Health Around with the Power of Turmeric
						</a>
					</h5>
				</div>
				<div class="blogSmallCardTxt">
					Turmeric, the centuries old yellow spice, has made a comeback in the health and wellness world and its rise to fame is nothing short of a motivational story!
				</div>
			</div>
			<div class="blogSmallCardStats">
				<div class="blogSmallCardGenreTxt">
					<div class="blogCategoryIcon"><img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid"></div>
					&nbsp; Health
				</div>
				<div class="blogSmallCardDate"> 
					<time datetime="2024-11-12T12:37:27Z">Nov 12, 2024</time>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlogSmallCard">
	<div class="blogSmallCardHead">
		<div class="blogSmallCardHeadOverlay">2 Min Read</div>
		<a href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric" title="" tabindex="-1"><img src="//www.nutrifactor.com.pk/cdn/shop/articles/HALDI_21_260x195.png?v=1731414853" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg"></a>
	</div>
	<div class="blogSmallCardBody">
		<div class="blogSmallCardStatsOuter">
			<div class="blogSmallCardBodyContent">
				<div class="blogSmallCardHeading">
					<h5 class="article-title m-0" title="Turn Your Health Around with the Power of Turmeric">
						<a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric" tabindex="-1">
						Turn Your Health Around with the Power of Turmeric
						</a>
					</h5>
				</div>
				<div class="blogSmallCardTxt">
					Turmeric, the centuries old yellow spice, has made a comeback in the health and wellness world and its rise to fame is nothing short of a motivational story!
				</div>
			</div>
			<div class="blogSmallCardStats">
				<div class="blogSmallCardGenreTxt">
					<div class="blogCategoryIcon"><img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid"></div>
					&nbsp; Health
				</div>
				<div class="blogSmallCardDate"> 
					<time datetime="2024-11-12T12:37:27Z">Nov 12, 2024</time>
				</div>
			</div>
		</div>
	</div>
</div>

      </div>
    </div>

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('.slider-main').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });

    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-main',
      dots: false,
      centerMode: false,
      focusOnSelect: true,
      vertical: true,
      verticalSwiping: true,
      arrows: true
    });
  });
</script>

{% schema %}
{
  "name": "Home Blog Slider",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Home Blog Slider"
    }
  ]
}
{% endschema %}
