{{ 'blog-slider-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }  
{%- endstyle -%}

<div class="blog_slider-section color-{{ section.settings.color_scheme }}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="section-{{ section.id }}-padding page-width isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >

    {%- if section.settings.title != blank -%}
      <div class="halo-block-header{% if section.settings.text_alignment == 'center' %} text-center{% endif %}{% if section.settings.text_alignment == 'left' %} text-left{% endif %}{% if section.settings.text_alignment == 'right' %} text-right{% endif %}">
        <h3 class="title">
          <span class="text">{{ section.settings.title }}</span>
        </h3>
      </div>
    {%- endif -%}

<div class="nutriRow">
  <div class="col-md-7 blog-slider-main">
    <div class="blogBigCardBodyOuter">
      <div class="blogBigCard">
        <div class="blogBigCardHead">
          <a href="/blogs/wellness-blog/top-12-health-benefits-of-consuming-food-supplements" title="">
            <img src="//www.nutrifactor.com.pk/cdn/shop/articles/Thumbnail_7d9c3e1f-2e18-43ef-8018-ae7aad7afd96_960x600.jpg?v=1749881470" alt="Top 12 Health Benefits of Consuming Supplements" class="article__image" />
          </a>
          <div class="blogSmallCardHeadOverlay">5 Min Read</div>
        </div>
        <div class="blogBigCardBody">
          <div class="blogBigCardBodyContent">
            <div class="blogBigCardGenre">
              <div class="blogBigCardGenreTxt">
                <div class="blogCategoryIcon">
                  <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
                </div>&nbsp;Health
              </div>
            </div>
            <div class="blogBigCardHeading">
              <h3 class="article-title m-0" title='Top 12 Health Benefits of Consuming Supplements'>
                <a class="tempLinkBlog" href="/blogs/wellness-blog/top-12-health-benefits-of-consuming-food-supplements"> Top 12 Health Benefits of Consuming Supplements </a>
              </h3>
            </div>
            <div class="blogBigCardTxt"> Nutraceutical products are nutritional healthcare products, extracted from nutrient-dense herbs, or manufactured in laboratories, </div>
          </div>
          <div class="blogBigCardStats">
            <div class="blogBigCardPublishStats">
              <span class="BlogpublishDate">Jun 05, 2025</span>
            </div>
            <a href="/blogs/wellness-blog/top-12-health-benefits-of-consuming-food-supplements" class="blogBigCardBtn tempLink">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blogBigCardBodyOuter">
      <div class="blogBigCard">
        <div class="blogBigCardHead">
          <a href="/blogs/wellness-blog/best-supplements-for-old-age" title="">
            <img src="//www.nutrifactor.com.pk/cdn/shop/articles/Untitled-1_alE9Ji_d4a5d323-0712-4ba2-9eec-391fae0c575c_960x600.png?v=1749127446" alt="Best supplements for old age" class="article__image" />
          </a>
          <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        </div>
        <div class="blogBigCardBody">
          <div class="blogBigCardBodyContent">
            <div class="blogBigCardGenre">
              <div class="blogBigCardGenreTxt">
                <div class="blogCategoryIcon">
                  <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
                </div>&nbsp;Health
              </div>
            </div>
            <div class="blogBigCardHeading">
              <h3 class="article-title m-0" title='Best supplements for old age'>
                <a class="tempLinkBlog" href="/blogs/wellness-blog/best-supplements-for-old-age"> Best supplements for old age </a>
              </h3>
            </div>
            <div class="blogBigCardTxt"> As we age, the body undergoes a variety of changes that can make everyday tasks more challenging. </div>
          </div>
          <div class="blogBigCardStats">
            <div class="blogBigCardPublishStats">
              <span class="BlogpublishDate">Jan 18, 2025</span>
            </div>
            <a href="/blogs/wellness-blog/best-supplements-for-old-age" class="blogBigCardBtn tempLink">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blogBigCardBodyOuter">
      <div class="blogBigCard">
        <div class="blogBigCardHead">
          <a href="/blogs/wellness-blog/a-helpful-guide-to-lose-weight" title="">
            <img src="//www.nutrifactor.com.pk/cdn/shop/articles/Untitled-2_avCG8D_520x500_520x500_520x500_520x500_520x500_aa8a9fe3-0b24-46a8-ba25-7ff42559cc6b_960x600.png?v=1736938383" alt="A helpful guide to lose weight" class="article__image" />
          </a>
          <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        </div>
        <div class="blogBigCardBody">
          <div class="blogBigCardBodyContent">
            <div class="blogBigCardGenre">
              <div class="blogBigCardGenreTxt">
                <div class="blogCategoryIcon">
                  <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
                </div>&nbsp;Health
              </div>
            </div>
            <div class="blogBigCardHeading">
              <h3 class="article-title m-0" title='A helpful guide to lose weight'>
                <a class="tempLinkBlog" href="/blogs/wellness-blog/a-helpful-guide-to-lose-weight"> A helpful guide to lose weight </a>
              </h3>
            </div>
            <div class="blogBigCardTxt"> Perhaps the most perplexing question mankind has ever encountered after “what’s the purpose of life” is “how to lose weight”. </div>
          </div>
          <div class="blogBigCardStats">
            <div class="blogBigCardPublishStats">
              <span class="BlogpublishDate">Jan 15, 2025</span>
            </div>
            <a href="/blogs/wellness-blog/a-helpful-guide-to-lose-weight" class="blogBigCardBtn tempLink">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blogBigCardBodyOuter">
      <div class="blogBigCard">
        <div class="blogBigCardHead">
          <a href="/blogs/wellness-blog/best-horsetail-extract-supplement" title="">
            <img src="//www.nutrifactor.com.pk/cdn/shop/articles/hair_1_960x600.png?v=1731934156" alt="Best Horsetail Extract Supplement" class="article__image" />
          </a>
          <div class="blogSmallCardHeadOverlay">1 Min Read</div>
        </div>
        <div class="blogBigCardBody">
          <div class="blogBigCardBodyContent">
            <div class="blogBigCardGenre">
              <div class="blogBigCardGenreTxt">
                <div class="blogCategoryIcon">
                  <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
                </div>&nbsp;Health
              </div>
            </div>
            <div class="blogBigCardHeading">
              <h3 class="article-title m-0" title='Best Horsetail Extract Supplement'>
                <a class="tempLinkBlog" href="/blogs/wellness-blog/best-horsetail-extract-supplement"> Best Horsetail Extract Supplement </a>
              </h3>
            </div>
            <div class="blogBigCardTxt"> Horsetail, with a pretty misleading name, is an herb that grows in swamps and around pounds </div>
          </div>
          <div class="blogBigCardStats">
            <div class="blogBigCardPublishStats">
              <span class="BlogpublishDate">Nov 19, 2024</span>
            </div>
            <a href="/blogs/wellness-blog/best-horsetail-extract-supplement" class="blogBigCardBtn tempLink">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blogBigCardBodyOuter">
      <div class="blogBigCard">
        <div class="blogBigCardHead">
          <a href="/blogs/wellness-blog/the-anaemia-around-you" title="">
            <img src="//www.nutrifactor.com.pk/cdn/shop/articles/girl_tensed_960x600.png?v=1749125377" alt="The Anaemia Around You" class="article__image" />
          </a>
          <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        </div>
        <div class="blogBigCardBody">
          <div class="blogBigCardBodyContent">
            <div class="blogBigCardGenre">
              <div class="blogBigCardGenreTxt">
                <div class="blogCategoryIcon">
                  <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
                </div>&nbsp;Health
              </div>
            </div>
            <div class="blogBigCardHeading">
              <h3 class="article-title m-0" title='The Anaemia Around You'>
                <a class="tempLinkBlog" href="/blogs/wellness-blog/the-anaemia-around-you"> The Anaemia Around You </a>
              </h3>
            </div>
            <div class="blogBigCardTxt"> Iron deficiency often flies under the radar, silently affecting the lives of millions, especially women. </div>
          </div>
          <div class="blogBigCardStats">
            <div class="blogBigCardPublishStats">
              <span class="BlogpublishDate">Nov 16, 2024</span>
            </div>
            <a href="/blogs/wellness-blog/the-anaemia-around-you" class="blogBigCardBtn tempLink">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blogBigCardBodyOuter">
      <div class="blogBigCard">
        <div class="blogBigCardHead">
          <a href="/blogs/wellness-blog/what-you-need-to-know-about-benign-prostrate-hyperplasia-bph" title="">
            <img src="//www.nutrifactor.com.pk/cdn/shop/articles/athlete_700x483_57fd37e4-3c67-4721-b28d-8dfb32dda122_960x600.png?v=1731500877" alt="What you need to know about Benign Prostrate Hyperplasia (BPH)" class="article__image" />
          </a>
          <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        </div>
        <div class="blogBigCardBody">
          <div class="blogBigCardBodyContent">
            <div class="blogBigCardGenre">
              <div class="blogBigCardGenreTxt">
                <div class="blogCategoryIcon">
                  <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
                </div>&nbsp;Health
              </div>
            </div>
            <div class="blogBigCardHeading">
              <h3 class="article-title m-0" title='What you need to know about Benign Prostrate Hyperplasia (BPH)'>
                <a class="tempLinkBlog" href="/blogs/wellness-blog/what-you-need-to-know-about-benign-prostrate-hyperplasia-bph"> What you need to know about Benign Prostrate Hyperplasia (BPH) </a>
              </h3>
            </div>
            <div class="blogBigCardTxt"> Ageing is that phase of life when you start to fully appreciate the phrase "age is just a number." </div>
          </div>
          <div class="blogBigCardStats">
            <div class="blogBigCardPublishStats">
              <span class="BlogpublishDate">Nov 13, 2024</span>
            </div>
            <a href="/blogs/wellness-blog/what-you-need-to-know-about-benign-prostrate-hyperplasia-bph" class="blogBigCardBtn tempLink">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blogBigCardBodyOuter">
      <div class="blogBigCard">
        <div class="blogBigCardHead">
          <a href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric" title="">
            <img src="//www.nutrifactor.com.pk/cdn/shop/articles/HALDI_21_960x600.png?v=1731414853" alt="Turn Your Health Around with the Power of Turmeric" class="article__image" />
          </a>
          <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        </div>
        <div class="blogBigCardBody">
          <div class="blogBigCardBodyContent">
            <div class="blogBigCardGenre">
              <div class="blogBigCardGenreTxt">
                <div class="blogCategoryIcon">
                  <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
                </div>&nbsp;Health
              </div>
            </div>
            <div class="blogBigCardHeading">
              <h3 class="article-title m-0" title='Turn Your Health Around with the Power of Turmeric'>
                <a class="tempLinkBlog" href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric"> Turn Your Health Around with the Power of Turmeric </a>
              </h3>
            </div>
            <div class="blogBigCardTxt"> Turmeric, the centuries old yellow spice, has made a comeback in the health and wellness world and its rise to fame is nothing short of a motivational story! </div>
          </div>
          <div class="blogBigCardStats">
            <div class="blogBigCardPublishStats">
              <span class="BlogpublishDate">Nov 12, 2024</span>
            </div>
            <a href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric" class="blogBigCardBtn tempLink">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blogBigCardBodyOuter">
      <div class="blogBigCard">
        <div class="blogBigCardHead">
          <a href="/blogs/wellness-blog/berry-your-way-out-of-urinary-tract-infections" title="">
            <img src="//www.nutrifactor.com.pk/cdn/shop/articles/cherries_960x600.png?v=1749125451" alt="Berry Your Way Out of Urinary Tract Infections" class="article__image" />
          </a>
          <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        </div>
        <div class="blogBigCardBody">
          <div class="blogBigCardBodyContent">
            <div class="blogBigCardGenre">
              <div class="blogBigCardGenreTxt">
                <div class="blogCategoryIcon">
                  <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
                </div>&nbsp;Health
              </div>
            </div>
            <div class="blogBigCardHeading">
              <h3 class="article-title m-0" title='Berry Your Way Out of Urinary Tract Infections'>
                <a class="tempLinkBlog" href="/blogs/wellness-blog/berry-your-way-out-of-urinary-tract-infections"> Berry Your Way Out of Urinary Tract Infections </a>
              </h3>
            </div>
            <div class="blogBigCardTxt"> Cranberries are tart little bursts of delight, so small they can almost pop in your mouth! Their vibrant hue hints at the powerhouse of antioxidants within. </div>
          </div>
          <div class="blogBigCardStats">
            <div class="blogBigCardPublishStats">
              <span class="BlogpublishDate">Oct 24, 2024</span>
            </div>
            <a href="/blogs/wellness-blog/berry-your-way-out-of-urinary-tract-infections" class="blogBigCardBtn tempLink">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blogBigCardBodyOuter">
      <div class="blogBigCard">
        <div class="blogBigCardHead">
          <a href="/blogs/wellness-blog/the-m-in-migraine-stands-for-magnesium" title="">
            <img src="//www.nutrifactor.com.pk/cdn/shop/articles/migraine_2_960x600.png?v=1749125037" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="article__image" />
          </a>
          <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        </div>
        <div class="blogBigCardBody">
          <div class="blogBigCardBodyContent">
            <div class="blogBigCardGenre">
              <div class="blogBigCardGenreTxt">
                <div class="blogCategoryIcon">
                  <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
                </div>&nbsp;Health
              </div>
            </div>
            <div class="blogBigCardHeading">
              <h3 class="article-title m-0" title='The "M" in Migraine Stands for Magnesium'>
                <a class="tempLinkBlog" href="/blogs/wellness-blog/the-m-in-migraine-stands-for-magnesium"> The "M" in Migraine Stands for Magnesium </a>
              </h3>
            </div>
            <div class="blogBigCardTxt"> Every morning, as the sun rises and the world stirs to life, you hope for a fresh start. But there he is—Migraine, sprawled across your couch, </div>
          </div>
          <div class="blogBigCardStats">
            <div class="blogBigCardPublishStats">
              <span class="BlogpublishDate">Oct 23, 2024</span>
            </div>
            <a href="/blogs/wellness-blog/the-m-in-migraine-stands-for-magnesium" class="blogBigCardBtn tempLink">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 blog-slider-nav">
    <div class="BlogSmallCard">
      <div class="blogSmallCardHead">
        <div class="blogSmallCardHeadOverlay">5 Min Read</div>
        <a href="/blogs/wellness-blog/top-12-health-benefits-of-consuming-food-supplements" title="">
          <img src="//www.nutrifactor.com.pk/cdn/shop/articles/Thumbnail_7d9c3e1f-2e18-43ef-8018-ae7aad7afd96_260x195.jpg?v=1749881470" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg" />
        </a>
      </div>
      <div class="blogSmallCardBody">
        <div class="blogSmallCardStatsOuter">
          <div class="blogSmallCardBodyContent">
            <div class="blogSmallCardHeading">
              <h5 class="article-title m-0" title='Top 12 Health Benefits of Consuming Supplements'>
                <a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/top-12-health-benefits-of-consuming-food-supplements"> Top 12 Health Benefits of Consuming Supplements </a>
              </h5>
            </div>
            <div class="blogSmallCardTxt"> Nutraceutical products are nutritional healthcare products, extracted from nutrient-dense herbs, or manufactured in laboratories, </div>
          </div>
          <div class="blogSmallCardStats">
            <div class="blogSmallCardGenreTxt">
              <div class="blogCategoryIcon">
                <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
              </div>&nbsp; Health
            </div>
            <div class="blogSmallCardDate">
              <time datetime="2025-06-05T13:11:38Z">Jun 05, 2025</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="BlogSmallCard">
      <div class="blogSmallCardHead">
        <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        <a href="/blogs/wellness-blog/best-supplements-for-old-age" title="">
          <img src="//www.nutrifactor.com.pk/cdn/shop/articles/Untitled-1_alE9Ji_d4a5d323-0712-4ba2-9eec-391fae0c575c_260x195.png?v=1749127446" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg" />
        </a>
      </div>
      <div class="blogSmallCardBody">
        <div class="blogSmallCardStatsOuter">
          <div class="blogSmallCardBodyContent">
            <div class="blogSmallCardHeading">
              <h5 class="article-title m-0" title='Best supplements for old age'>
                <a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/best-supplements-for-old-age"> Best supplements for old age </a>
              </h5>
            </div>
            <div class="blogSmallCardTxt"> As we age, the body undergoes a variety of changes that can make everyday tasks more challenging. </div>
          </div>
          <div class="blogSmallCardStats">
            <div class="blogSmallCardGenreTxt">
              <div class="blogCategoryIcon">
                <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
              </div>&nbsp; Health
            </div>
            <div class="blogSmallCardDate">
              <time datetime="2025-01-18T13:32:06Z">Jan 18, 2025</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="BlogSmallCard">
      <div class="blogSmallCardHead">
        <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        <a href="/blogs/wellness-blog/a-helpful-guide-to-lose-weight" title="">
          <img src="//www.nutrifactor.com.pk/cdn/shop/articles/Untitled-2_avCG8D_520x500_520x500_520x500_520x500_520x500_aa8a9fe3-0b24-46a8-ba25-7ff42559cc6b_260x195.png?v=1736938383" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg" />
        </a>
      </div>
      <div class="blogSmallCardBody">
        <div class="blogSmallCardStatsOuter">
          <div class="blogSmallCardBodyContent">
            <div class="blogSmallCardHeading">
              <h5 class="article-title m-0" title='A helpful guide to lose weight'>
                <a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/a-helpful-guide-to-lose-weight"> A helpful guide to lose weight </a>
              </h5>
            </div>
            <div class="blogSmallCardTxt"> Perhaps the most perplexing question mankind has ever encountered after “what’s the purpose of life” is “how to lose weight”. </div>
          </div>
          <div class="blogSmallCardStats">
            <div class="blogSmallCardGenreTxt">
              <div class="blogCategoryIcon">
                <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
              </div>&nbsp; Health
            </div>
            <div class="blogSmallCardDate">
              <time datetime="2025-01-15T10:52:59Z">Jan 15, 2025</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="BlogSmallCard">
      <div class="blogSmallCardHead">
        <div class="blogSmallCardHeadOverlay">1 Min Read</div>
        <a href="/blogs/wellness-blog/best-horsetail-extract-supplement" title="">
          <img src="//www.nutrifactor.com.pk/cdn/shop/articles/hair_1_260x195.png?v=1731934156" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg" />
        </a>
      </div>
      <div class="blogSmallCardBody">
        <div class="blogSmallCardStatsOuter">
          <div class="blogSmallCardBodyContent">
            <div class="blogSmallCardHeading">
              <h5 class="article-title m-0" title='Best Horsetail Extract Supplement'>
                <a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/best-horsetail-extract-supplement"> Best Horsetail Extract Supplement </a>
              </h5>
            </div>
            <div class="blogSmallCardTxt"> Horsetail, with a pretty misleading name, is an herb that grows in swamps and around pounds </div>
          </div>
          <div class="blogSmallCardStats">
            <div class="blogSmallCardGenreTxt">
              <div class="blogCategoryIcon">
                <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
              </div>&nbsp; Health
            </div>
            <div class="blogSmallCardDate">
              <time datetime="2024-11-19T07:34:39Z">Nov 19, 2024</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="BlogSmallCard">
      <div class="blogSmallCardHead">
        <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        <a href="/blogs/wellness-blog/the-anaemia-around-you" title="">
          <img src="//www.nutrifactor.com.pk/cdn/shop/articles/girl_tensed_260x195.png?v=1749125377" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg" />
        </a>
      </div>
      <div class="blogSmallCardBody">
        <div class="blogSmallCardStatsOuter">
          <div class="blogSmallCardBodyContent">
            <div class="blogSmallCardHeading">
              <h5 class="article-title m-0" title='The Anaemia Around You'>
                <a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/the-anaemia-around-you"> The Anaemia Around You </a>
              </h5>
            </div>
            <div class="blogSmallCardTxt"> Iron deficiency often flies under the radar, silently affecting the lives of millions, especially women. </div>
          </div>
          <div class="blogSmallCardStats">
            <div class="blogSmallCardGenreTxt">
              <div class="blogCategoryIcon">
                <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
              </div>&nbsp; Health
            </div>
            <div class="blogSmallCardDate">
              <time datetime="2024-11-16T06:19:36Z">Nov 16, 2024</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="BlogSmallCard">
      <div class="blogSmallCardHead">
        <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        <a href="/blogs/wellness-blog/what-you-need-to-know-about-benign-prostrate-hyperplasia-bph" title="">
          <img src="//www.nutrifactor.com.pk/cdn/shop/articles/athlete_700x483_57fd37e4-3c67-4721-b28d-8dfb32dda122_260x195.png?v=1731500877" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg" />
        </a>
      </div>
      <div class="blogSmallCardBody">
        <div class="blogSmallCardStatsOuter">
          <div class="blogSmallCardBodyContent">
            <div class="blogSmallCardHeading">
              <h5 class="article-title m-0" title='What you need to know about Benign Prostrate Hyperplasia (BPH)'>
                <a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/what-you-need-to-know-about-benign-prostrate-hyperplasia-bph"> What you need to know about Benign Prostrate Hyperplasia (BPH) </a>
              </h5>
            </div>
            <div class="blogSmallCardTxt"> Ageing is that phase of life when you start to fully appreciate the phrase "age is just a number." </div>
          </div>
          <div class="blogSmallCardStats">
            <div class="blogSmallCardGenreTxt">
              <div class="blogCategoryIcon">
                <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
              </div>&nbsp; Health
            </div>
            <div class="blogSmallCardDate">
              <time datetime="2024-11-13T12:53:26Z">Nov 13, 2024</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="BlogSmallCard">
      <div class="blogSmallCardHead">
        <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        <a href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric" title="">
          <img src="//www.nutrifactor.com.pk/cdn/shop/articles/HALDI_21_260x195.png?v=1731414853" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg" />
        </a>
      </div>
      <div class="blogSmallCardBody">
        <div class="blogSmallCardStatsOuter">
          <div class="blogSmallCardBodyContent">
            <div class="blogSmallCardHeading">
              <h5 class="article-title m-0" title='Turn Your Health Around with the Power of Turmeric'>
                <a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/turn-your-health-around-with-the-power-of-turmeric"> Turn Your Health Around with the Power of Turmeric </a>
              </h5>
            </div>
            <div class="blogSmallCardTxt"> Turmeric, the centuries old yellow spice, has made a comeback in the health and wellness world and its rise to fame is nothing short of a motivational story! </div>
          </div>
          <div class="blogSmallCardStats">
            <div class="blogSmallCardGenreTxt">
              <div class="blogCategoryIcon">
                <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
              </div>&nbsp; Health
            </div>
            <div class="blogSmallCardDate">
              <time datetime="2024-11-12T12:37:27Z">Nov 12, 2024</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="BlogSmallCard">
      <div class="blogSmallCardHead">
        <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        <a href="/blogs/wellness-blog/berry-your-way-out-of-urinary-tract-infections" title="">
          <img src="//www.nutrifactor.com.pk/cdn/shop/articles/cherries_260x195.png?v=1749125451" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg" />
        </a>
      </div>
      <div class="blogSmallCardBody">
        <div class="blogSmallCardStatsOuter">
          <div class="blogSmallCardBodyContent">
            <div class="blogSmallCardHeading">
              <h5 class="article-title m-0" title='Berry Your Way Out of Urinary Tract Infections'>
                <a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/berry-your-way-out-of-urinary-tract-infections"> Berry Your Way Out of Urinary Tract Infections </a>
              </h5>
            </div>
            <div class="blogSmallCardTxt"> Cranberries are tart little bursts of delight, so small they can almost pop in your mouth! Their vibrant hue hints at the powerhouse of antioxidants within. </div>
          </div>
          <div class="blogSmallCardStats">
            <div class="blogSmallCardGenreTxt">
              <div class="blogCategoryIcon">
                <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
              </div>&nbsp; Health
            </div>
            <div class="blogSmallCardDate">
              <time datetime="2024-10-24T12:23:47Z">Oct 24, 2024</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="BlogSmallCard">
      <div class="blogSmallCardHead">
        <div class="blogSmallCardHeadOverlay">2 Min Read</div>
        <a href="/blogs/wellness-blog/the-m-in-migraine-stands-for-magnesium" title="">
          <img src="//www.nutrifactor.com.pk/cdn/shop/articles/migraine_2_260x195.png?v=1749125037" alt="The &quot;M&quot; in Migraine Stands for Magnesium" class="blogSmallCardImg" />
        </a>
      </div>
      <div class="blogSmallCardBody">
        <div class="blogSmallCardStatsOuter">
          <div class="blogSmallCardBodyContent">
            <div class="blogSmallCardHeading">
              <h5 class="article-title m-0" title='The "M" in Migraine Stands for Magnesium'>
                <a class="tempLinkBlog tempLinkBlogSmall" href="/blogs/wellness-blog/the-m-in-migraine-stands-for-magnesium"> The "M" in Migraine Stands for Magnesium </a>
              </h5>
            </div>
            <div class="blogSmallCardTxt"> Every morning, as the sun rises and the world stirs to life, you hope for a fresh start. But there he is—Migraine, sprawled across your couch, </div>
          </div>
          <div class="blogSmallCardStats">
            <div class="blogSmallCardGenreTxt">
              <div class="blogCategoryIcon">
                <img src="https://cdn.shopify.com/s/files/1/0372/5675/7381/files/HerbalSupport.svg?v=1672384443" class="imgFluid" />
              </div>&nbsp; Health
            </div>
            <div class="blogSmallCardDate">
              <time datetime="2024-10-23T12:40:50Z">Oct 23, 2024</time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('.blog-slider-main').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      autoplay: true,
      autoplaySpeed: 5000,
      asNavFor: '.blog-slider-nav'
    });

    $('.blog-slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.blog-slider-main',
      dots: false,
      centerMode: false,
      focusOnSelect: true,
      vertical: true,
      verticalSwiping: true,
      arrows: false
    });
  });
</script>

{% schema %}
{
  "name": "Home Blog Slider",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Home Blog Slider"
    }
  ]
}
{% endschema %}
