{{ 'section-certificate-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="certificate-section color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="certificate-wrap">
      {% if section.settings.title != blank %}
        <div class="certificate-content">
          {{ section.settings.title }}
        </div>
      {% endif %}
      <div class="certificate-slider-wrap">
        <div class="brandsCarousel">
          {% for block in section.blocks %}
            <div class="brandLogo" {{ block.shopify_attributes }}>
              {% if block.settings.image %}
                <img src="{{ block.settings.image | image_url: width: 300 }}" alt="{{ block.settings.title | escape }}">
              {% endif %}
              {% if block.settings.title != blank %}
                <span>{{ block.settings.title }}</span>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('.brandsCarousel').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      autoplay: true,
      infinite: true,
      arrows: false,
      pauseOnHover: false,
      pauseOnFocus: false,
      autoplaySpeed: 0,
      swipe: false,
      touchMove: false,
      cssEase: 'linear',
      speed: 2000,
      variableWidth: true,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            arrows: false,
            slidesToShow: 4
          }
        },
        {
          breakpoint: 991,
          settings: {
            dots: false,
            autoplay: true,
            slidesToShow: 3
          }
        },
        {
          breakpoint: 575,
          settings: {
            dots: false,
            autoplay: true,
            slidesToShow: 2
          }
        }
      ]
    });
  });
</script>

{% schema %}
{
  "name": "Certificate Slider",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Box Content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Certificate Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Certificate Slide Image"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Certificate Slide Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Certificate Slider",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
