{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }

.collection-info-item.sub-collection {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fafafa;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0px
}

.collection-sub-list .item {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 0;
}

.collection-info-item.sub-collection .item-title span {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	display: block;
	background-image: linear-gradient(transparent 97%, #000000 3%);
	background-repeat: repeat-x;
	background-position-y: -4px;
	display: inline-block;
}

.collection-sub-list .item a {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #232323;
	border: 1px solid #232323;
	text-align: center;
}

.collection-info-item .button-show-more .button {
	font-size: 12px;
}

.collection-info-item.sub-collection.has-image .item-title {
	margin-bottom: 15px;
}


@media (min-width: 1025px) {
	.collection-sub-list .item a:hover {
		background: #ffffff !important;
		border-color: #232323 !important;
		color: #232323 !important;
	}
	
	.collection-info {
		padding-left: 50px;
		padding-right: 50px;
	}

	.collection-info-item.sub-collection .item-title {
		padding-top: 10px;
	}
}

@media (max-width: 767px) {
	[data-sub-collection-show-more] {
		margin-left: -15px;
		margin-right: -15px;
	}

	.collection-sub-list .item {
		padding-left: 10px;
		padding-right: 10px;
	}
}

{%- endstyle -%}

<div class="collection-header container-full" style="--desc-bg: #ffffff; --desc-color: #232323;">
  <div class="collection-content collection-content-1">
    
    <div class="collection-banner">
      <div class="image image-adapt">
        {% if collection.image %}
          <img 
            src="{{ collection.image | img_url: '1920x' }}" 
            srcset="{{ collection.image | img_url: '1920x' }} 1x, {{ collection.image | img_url: '1920x', scale: 2 }} 2x"
            alt="{{ collection.title | escape }}"
            loading="lazy"
          >
        {% else %}
          <img 
            src="{{ section.settings.image | img_url: '1920x' }}" 
            srcset="{{ section.settings.image | img_url: '1920x' }} 1x, {{ section.settings.image | img_url: '1920x', scale: 2 }} 2x"
            alt="{{ collection.title | escape }}"
            loading="lazy"
          >
        {% endif %}
      </div>

      <div class="image image-mobile image-adapt from-desktop">
        {% if collection.image %}
          <img 
            src="{{ collection.image | img_url: '800x' }}" 
            srcset="{{ collection.image | img_url: '800x' }} 1x, {{ collection.image | img_url: '800x', scale: 2 }} 2x"
            alt="{{ collection.title | escape }}"
            loading="lazy"
          >
        {% else %}
          <img 
            src="{{ section.settings.image | img_url: '800x' }}" 
            srcset="{{ section.settings.image | img_url: '800x' }} 1x, {{ section.settings.image | img_url: '800x', scale: 2 }} 2x"
            alt="{{ collection.title | escape }}"
            loading="lazy"
          >
        {% endif %}
      </div>
    </div>

    <div class="changing on collection collection-info collection-info--relative align-" style="--desc-color: #232323;">
      <h1 class="collection-title page-header text-left">
        {{ collection.title }}
      </h1>
      <div class="collection-info-item">
        <div class="collection-description halo-text-format text-left" style="margin: 0;">
          {{ collection.description }}
        </div>
      </div>
    </div>

  </div>
</div>


{% comment %} <div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img
          srcset="
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          "
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.image.alt | escape }}"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div> {% endcomment %}

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Fallback Image"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
