{{ 'ourworldwide-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }  
{%- endstyle -%}

<div class="ourworldwide-section color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="section-{{ section.id }}-padding page-width isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >    
    <div class="internationalBoxInnerLg">
      <div class="mapBoxContentHeadingSm">
         <span>{{ section.settings.countries_text }} Countries</span>
      </div>
      <div class="mapBoxContent">
        <div class="mapBoxCountryBox">
          <div class="mapCountryBoxInner">
            <div class="clrBoxTxt mapCountryBoxbodyTxt">{{ section.settings.countries_text }}</div>
            <div class="clrBoxTxt mapCountryBoxSubTxt">COUNTRIES</div>
          </div>
        </div>
        <div class="mapBoxContentHead">Our <span>WorldWide</span> Footprint!</div>
        <div class="mapBoxContentStats">
          <div class="mapContentStat">
            <div class="mapStatHead">
              <div class="mapStatIcon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="customMapSvg">
                  <path d="M15.75 8.25a.75.75 0 01.75.75c0 1.12-.492 2.126-1.27 2.812a.75.75 0 11-.992-1.124A2.243 2.243 0 0015 9a.75.75 0 01.75-.75z"></path>
                  <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM4.575 15.6a8.25 8.25 0 009.348 4.425 1.966 1.966 0 00-1.84-1.275.983.983 0 01-.97-.822l-.073-.437c-.094-.565.25-1.11.8-1.267l.99-.282c.427-.123.783-.418.982-.816l.036-.073a1.453 1.453 0 012.328-.377L16.5 15h.628a2.25 2.25 0 011.983 1.186 8.25 8.25 0 00-6.345-12.4c.044.262.18.503.389.676l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.575 15.6z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="mapStatTxt">{{ section.settings.continents_text }}</div>
            </div>
            <div class="mapStatBody">
              <div class="mapStatSubTxt">Continents</div>
            </div>
          </div>
          <div class="mapContentStat">
            <div class="mapStatHead">
              <div class="mapStatIcon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="customMapSvg">
                  <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="mapStatTxt">
                <span>{{ section.settings.distribution_centers_text }}</span>
              </div>
            </div>
            <div class="mapStatBody">
              <div class="mapStatSubTxt">Distribution centers</div>
            </div>
          </div>
        </div>
        {% if section.settings.link_url %}
          <a href="{{ section.settings.link_url }}" class="mapContentBtn tempLink">{{ section.settings.link_text }}</a>
        {% endif %}
      </div>
      <div class="mapBoxMapArea">
        <div id="regions_div" style="width: 100%; height: auto">
          {% if block.settings.image %}
            <img
            src="{{ block.settings.image | img_url: 'master' }}"
            alt="{{ block.settings.image.alt | escape }}"
            loading="lazy"
            />
          {% endif %}
        </div>
      </div>
        <div class="mapBoxContentFooterSm">
        <div class="mapBoxContentHeadSm">Our <span>WorldWide</span> Footprint!</div>
        <div class="mapBoxContentStatsSm">
          <div class="mapContentStatSm">
            <div class="mapStatHeadSm">
              <div class="mapStatIconSm">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="customMapSvg">
                  <path d="M15.75 8.25a.75.75 0 01.75.75c0 1.12-.492 2.126-1.27 2.812a.75.75 0 11-.992-1.124A2.243 2.243 0 0015 9a.75.75 0 01.75-.75z"></path>
                  <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM4.575 15.6a8.25 8.25 0 009.348 4.425 1.966 1.966 0 00-1.84-1.275.983.983 0 01-.97-.822l-.073-.437c-.094-.565.25-1.11.8-1.267l.99-.282c.427-.123.783-.418.982-.816l.036-.073a1.453 1.453 0 012.328-.377L16.5 15h.628a2.25 2.25 0 011.983 1.186 8.25 8.25 0 00-6.345-12.4c.044.262.18.503.389.676l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.575 15.6z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="mapStatTxtSm">{{ section.settings.continents_text }}</div>
            </div>
            <div class="mapStatBodySm">
              <div class="mapStatSubTxtSm">Continents</div>
            </div>
          </div>
          <div class="mapContentStatSm">
            <div class="mapStatHeadSm">
              <div class="mapStatIconSm">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="customMapSvg">
                  <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="mapStatTxtSm">
                <span>{{ section.settings.distribution_centers_text }}</span>
              </div>
            </div>
            <div class="mapStatBodySm">
              <div class="mapStatSubTxtSm">Distribution centers</div>
            </div>
          </div>
        </div>
        {% if section.settings.link_url %}
          <div class="mapContentBtnSmOuter">
            <a href="{{ section.settings.link_url }}" class="mapContentBtnSm">{{ section.settings.link_text }}</a>
          </div>
         {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Our WorldWide",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "countries_text",
      "label": "Number of Countries",
      "default": "100+ countries"
    },
    {
      "type": "text",
      "id": "continents_text",
      "label": "Continents",
      "default": "6 continents"
    },
    {
      "type": "text",
      "id": "distribution_centers_text",
      "label": "Distribution Centers",
      "default": "20+ distribution centers"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
  "presets": [
    {
      "name": "Our WorldWide"
  ]
}
{% endschema %}
